.dropdown-menu{
	background-color: #C19EE0 !important;
}
.dropdown-menu a{
	color: black !important;
}
body{
	background-image: url(/Images/Background1.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: left center;
    background-attachment: fixed;
}
button{
	color: white !important;
	display: inline-flex !important;
  	align-items: flex-end !important;
}
.dropdown-menu button{
	color: black !important;
}
img{
	height: 20px;
}
#menu{
	padding-left: 2%;
	left: 16%;
	width: 68%;
	background-color: #6D53A5 !important;
}
#main{
	position: fixed;
	left: 16%;
}